@media (max-width:800px) {
    html {
        font-size: 52.5%;
    }

    label {
        width: 15%;
        align-self: center;
    }

    nav {
        padding-left: 5%;
    }

    .nav-bar {
        display: none;
    }

    .parent-hero-container {
        justify-content: space-around;
    }

    .hero-section {
        margin-top: 6.5rem;
    }

    #tab-btn {
        display: block;
    }

    .scan-to-download {
        display: none;
    }

    .key-figures {
        flex-direction: column;
        align-items: normal;
        gap: 2.5rem;
        padding-left: 5%;
    }

    h3 {
        font-size: 2rem;
    }

    .section-two {
        font-size: 1.7rem;
        justify-content: space-around;
    }

    .send-text-container p {
        text-align: left;
        
        font-size: 1.5rem;
    }

    .section-three {
        justify-content: space-around;
    }

    .stream-text-container {
        width: 50%;
        padding-left: 3%;
       
    }

    .stream-text-container p {
        font-size: 1.7rem;
    }

    .section-four {
        font-size: 1.5rem;
    }

    .thumbnail {
        width: 75%;
    }

    .stats {
        padding:  0 5% 0 5%;
    }

    .ratings h1 {
        font-size: 3rem;
    }

    .bottom-comment-container {
        flex-direction: column;
    }

    .top-comment {
        width: 90%;
    }

    .get-help {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        padding: 2% 0 2% 5%;
    }

    .featured {
        justify-content: space-around;
        gap: 3rem;
    }

    .help-container {
        width: 40%;
       
    }

    .feature-text-container {
        width: 40%;
    }

    .global-logos img {
        width: 65%;
    }

    .global-stocks {
        gap: 5rem;
        justify-content: space-around;
    }

    .football-stars {
        gap: 5rem;
        justify-content: space-around;
    }

    .football img {
        width: 25%;
        height: 8rem;
        border-radius: 150px;
    }

    .culture h1 {
        font-size: 2rem;
    }

    .instant-download {
        width: 90%;
    }

    .btn-container button {
        width: 17rem;
    }

    .blob1 {
        width: 200px;
        height: 200px;
    }

    .blob2 {
        width: 200px;
        height: 200px;
    }

    .footer {
        padding: 6% 8% 0 5%;
    }

    .left-footer label {
        width: 100%;
    }
}
